<!doctype html>
<title>User Input</title>
<link rel="stylesheet" type="text/css" href="https://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css">
<div class=page>
  <h1>Stock Closing Price</h1>
  <div class=metanav>

    <h4>
      Please enter a stock ticker (ex: GOOG)
    </h4>

    <form id='wiki_code' method='post' action='trends' >
      <p>
    Ticker code: <input type='text' name='wiki_code' />
      </p>
      <p>
    <input type='submit' value='Submit' />
      </p>
    </form>

  </div>
</div>
</html>
